<body>
    <div class="name">
        <span style="color: #FFFFFF;">kona</span><span style="color:#E9204F ;">digital.ai</span>
    </div>
 <div class="center">
        <h1 class="login">Login</h1>
        <form>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label for="">Username</label>
            </div>   
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label for="">Password</label>
            </div>
            <input type="submit" value="Login">
           <div class="signup_link">
               Don't have an account ? <a routerLink="/register">Register</a>
           </div>
        </form>
    </div>    
</body>


