<!--<body>
    <div class="name">
        <span style="color: #FFFFFF;">kona</span><span style="color:#E9204F ;">digital.ai</span>
    </div>
 <div class="center">
   
        <h1 class="login">Login</h1>
        <form>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label for="">Username</label>
            </div>
         
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label for="">Password</label>
            </div>
          
            <input type="submit" value="Login">
           <div class="signup_link">
               Don't have an account ? <a routerLink="/register">Register</a>
           </div>
        
        </form>
    </div>    
</body>-->

<body>

    <div id="login">
        <div id="text"class="name">Kona<span style="color: #E9204F;">digital.ai</span></div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <div style="font-size: 30px;text-align: center;"class="login">Login</div>
                            <div class="txt_field">
                                <input type="text" required>
                                <span></span>
                                <label for="">Username</label>
                            </div>
                         
                            <div class="txt_field">
                                <input type="password" required>
                                <span></span>
                                <label for="">Password</label>
                            </div>
                          
                            <input type="submit" value="Login">
                           <div class="signup_link">
                               Don't have an account ? <a routerLink="/register">Register</a>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

</body>



    



<!--

    <div id="login">
    <div id="text"class="text-white text-center">Kona<span style="color: #E9204F;">digital.ai</span></div>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div style="font-size: 30px;"class="text-center text-info">Login</div>
                        <div class="wrapper">
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input class="input" placeholder="Please Enter Text" type="text" >
                            <span class="underline"></span>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div><br>
                        <div class="form-group">
                        
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div><br><br>
                        <div id="register-link" class="text-right">
                            <a routerLink='/register' class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->



