<body>

    <div style="background-color:#252C48" class="sidenav">
       <div class="navbar-brand">

        <span style="color: white;">kona</span><span style="color: #E9204F;">digital.ai</span>

       </div>
        
       <div>

        <a class="side" href="#">Dashboard</a>
        <a class="side" href="#">Reaport</a>
        <a class="side" href="#">Leads</a>
        <a class="side" href="#">Settings</a>

       </div>
     
    </div>
    
    <div class="main">
      <nav style="background-color: #252C48;" class="navbar navbar-expand-lg navbar-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <form class="form-inline my-2 my-lg-0">
                <input style="background-color: #252C48;color: #E9204F;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button style="background-color: #252C48;color: #E9204F;" class="btn btn-light my-2 my-sm-0" type="submit">Enter</button>
              </form>
            </li>
   
          </ul>

          <form style="padding-right: 20px;" class="nav-item dropdown">
            
            <a style="background-color: #252C48;color: #E9204F;" class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Profile
            </a>
            <div style="padding-right: 20px;background-color: #252C48;"  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" routerLink="/changepassword">Change Password</a>
              <a class="dropdown-item" href="#">Logout</a>        
            </div>
          </form>
 
        </div>
      </nav>

<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
   
                      <a href="index.html" class="footer-logo">
                          <img src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png" alt="footer_logo" class="img-fluid">
                      </a>
                      <p class="footer-info-text">
                         Reference site about Lorem Ipsum, giving information on its origins,footerorigins,footer
                      </p>
                      <p class="footer-info-text">
                         Reference site about Lorem Ipsum, giving information on its origins
                         giving information on its
                      </p>
        
                </div>
  
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                              
                                <div class="contact-info">
                                    <h3>Jaipur India</h3>
                                    <p>5353 Road Avenue</p>
                                </div>
                              
                            </div>
                         
                        </div>
                       
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                               
                                <div class="contact-info">
                                    <h3>95 711 9 5353</h3>
                                    <p>Give us a call</p>
                                </div>
                               
                            </div>
                           
                        </div>
                       
                    </div>
                  
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                             
                                <ul>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Team</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="#">Faq</a>
                                    </li>
                                </ul>
                            </div>
                          
                        </div>
                      
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                               
                                <p>
                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                            
                                        </div>
                                    </div>
                                </form>
                              
                            </div>
                          
                        </div>
                     
                    </div>
                   
                </div>
               
            </div>
            
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2019, All Right Reserved Seobin</span>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                  
                </div>
               
            </div>
           
        </div>
       
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
      
    </footer>
    </div>    
     
</body>