<body>

    <div id="login">
        <div id="text"class="name">Kona<span style="color: #E9204F;">digital.ai</span></div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <div style="font-size: 30px;text-align: center;"class="login">Register</div>
                            <div class="txt_field">
                                <input type="text" required>
                                <span></span>
                                <label for="">First Name</label>
                            </div>
                            <div class="txt_field">
                                <input type="text" required>
                                <span></span>
                                <label for="">Last Name</label>
                            </div>
                            <div class="txt_field">
                                <input type="email" required>
                                <span></span>
                                <label for="">Email Id</label>
                            </div>
                         
                            <div class="txt_field">
                                <input type="password" required>
                                <span></span>
                                <label for="">Password</label>
                            </div>
                            <div class="txt_field">
                                <input type="tel" required>
                                <span></span>
                                <label for="">Mobile No</label>
                            </div>
                            <div class="txt_field">
                                <input type="text" required>
                                <span></span>
                                <label for="">City</label>
                            </div>
                          
                            <input type="submit" value="Register">
                           <div class="signup_link">
                               Have an account ? <a routerLink="/">Login</a>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

</body>